:root {
    --bg: #ffffff;
    --text: #000000;
    --subtext: #555555;
    --card-bg: #fafafa;
    --btn-border: #1a73e8;
}

body.dark {
    --bg: #0f172a;
    --text: #f8fafc;
    --subtext: #cbd5e1;
    --card-bg: #1e293b;
    --btn-border: #38bdf8;
}

* {
    transition: all 0.3s ease;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav span {
    cursor: pointer;
}

.theme-btn {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text);
    margin-left: 10px;
}

.center {
    text-align: center;
    margin-top: 90px;
}

h1 {
    font-size: 44px;
    font-weight: 800;
}

.subtitle {
    color: var(--subtext);
    margin: 10px 0 30px;
}


.github-btn {
    background: black;
    color: white;
    padding: 10px 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.learn-btn {
    padding: 10px 18px;
    background: white;
    color: var(--btn-border);
    border: 2px solid var(--btn-border);
    border-radius: 4px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 120px;           
    margin-top: 180px;     
    padding-bottom: 120px;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    padding: 30px;
    background: var(--card-bg);
    text-align: center;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    border-radius: 8px;
}

.icon {
    font-size: 34px;
    margin-bottom: 20px;
}

.yellow { color: #facc15; }
.purple { color: #c4b5fd; } 

.card h4 {
    color: var(--subtext);
    font-weight: normal;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 120px;
    }
}